

<form name="form" novalidate>
    <fieldset>
        <legend>Datos Profesor</legend>
        <label for="dni">NIF:</label><input id="dni" name="dni" type="text" ng-model="profesor.dni" required ng-pattern="/(^[X-Z]\d{7}[A-Z]$)|(^\d{9}[A-Z]$)/" />
        <span ng-show="form.dni.$error.required && form.dni.$dirty">El campo es requerido</span>
        <span ng-show="form.dni.$error.pattern">No cumple la expresión regular</span>
        <br>
        <label for="nombre">Nombre:</label><input id="nombre" name="nombre" type="text" ng-model="profesor.nombre" required />
        <span ng-show="form.nombre.$error.required && form.nombre.$dirty">El campo es requerido</span>
        <br>
        <label for="apellido1">1º Apellido:</label><input id="apellido1" name="apellido1" type="text" ng-model="profesor.apellido1" required />
        <span ng-show="form.apellido1.$error.required && form.apellido1.$dirty">El campo es requerido</span>
        <br>
        <label for="apellido2">2º Apellido:</label><input id="apellido2" name="apellido2" type="text" ng-model="profesor.apellido2" required />
        <span ng-show="form.apellido2.$error.required && form.apellido2.$dirty">El campo es requerido</span>
        <br>
        <label for="email">e-mail:</label><input id="email" name="email" type="email" ng-model="profesor.email" required/>
        <span ng-show="form.email.$error.required && form.email.$dirty">El campo es requerido</span>
        <span ng-show="form.email.$error.email">Formato email incorrecto</span>
        <br>
        <label for="login">login:</label><input id="login" name="login" type="text" ng-model="profesor.login" required/>
        <span ng-show="form.login.$error.required && form.login.$dirty">El campo es requerido</span>
        <br>
        <label for="familia">familia:</label><input id="familia" name="familia" type="text" ng-model="profesor.familia" required/>
        <span ng-show="form.familia.$error.required && form.familia.$dirty">El campo es requerido</span>
        <br>
        <label for="tutoria">tutoria:</label><input id="tutoria" name="tutoria" type="text" ng-model="profesor.tutoria"/>
        <br>
        <label for="activo">activo:</label><input id="activo" name="activo" type="numeric" ng-model="profesor.activo" required/>
        <span ng-show="form.activo.$error.required && form.activo.$dirty">El campo es requerido</span>
        <br>
    </fieldset>  

    <button ng-click="guardarDatos()" name="guardarDatos">Guardar</button>

</form>
